.container{
    background-color:rgb(246, 241, 241);
    text-align: center;
    justify-self: center;
    box-shadow:0px 5px 6px 4px lightgrey;
    height: 360px;
    width:350px;
    border-radius: 8px;
}
.container h1{
    padding-top: 15px;
}
.container p{
    font-size: large;
}
#Content{
  color:lightcoral;
}
.btn{
    margin:8px;
    font-family:'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    width:70px;
    background-color:rgb(160, 215, 228);
    border-radius: 6px;
    border: none;
    color:black;
    font-size: medium;
}
.btn:hover{
    background-color: rgb(154, 181, 205);
    box-shadow:0px 3px 4px 2px lightgrey;
    transition: 0.3s ease;
}